.btn-main, button.btn-main {
    background-color: var(--accent-primary);
    border:1px solid var(--accent-primary);
    padding: 5px 15px;
    display: inline-block;
    border-radius: 25px;
    // font-weight: bold;
    font-family: 'proxima_novabold';
    // font-family: 'proxima_novablack';
    text-transform: uppercase;
    color: white;
    font-style: italic;
    box-shadow:1px 1px 3px rgba(0,0,0,0.5);
    transition:all .25s ease-in-out;
    cursor:pointer;
    
    &:hover {
        background-color: white;
        border-color:var(--accent-primary);
        color:var(--accent-primary);
    }
    &.square {
        border-radius:0px;
    }
    &.white {
        background-color: white;
        border-color: var(--neutral-dark);
        color:var(--neutral-dark);
        &:hover {
            background-color: var(--neutral-dark)!important;
            border-color:white;
            color:white;
        }
    }
}