ul.main-menu {
  li.main-title > a:hover {
    background: var(--accent-primary);
    color: white;
}  
  > li > a {
    padding:20px 10px;
    // @media only screen and (min-width:1024px) {
      //     border-right:1px solid var(--accent-primary);
      //     color:gray;
      //     font-weight:bold;
      // }
    }
}
// ul li:nth-child(2) a {
//     border-right:none;
// }

.sub-menu {
    transition: height 0.3s ease-in-out;
    height: 0;
    opacity: 0;
    top:48px;
    visibility: hidden;
    
    &.active-sub-menu {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .menu-item-has-children {
    &:hover {
      .sub-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }