ul li a {
    padding:0 10px;
    @media only screen and (min-width:1024px) {
        border-right:1px solid var(--accent-primary);
        color:gray;
        font-weight:bold;
    }
}
ul li:nth-child(2) a {
    border-right:none;
}