@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-primary:#e41836;
  --accent-secondary:#e7c075;
  --neutral-dark:#252525;
  --neutral-green:#2b322a;
  --gray:#999999;
  --gray-dark:#404040;
  --gray-light:#cdcdcd;
  --text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

/*** Works on common browsers ***/
::selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

::-ms-selection {
  background-color: var(--accent-primary);
  color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--accent-primary);
  color: #fff;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
