@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-primary:#e41836;
  --neutral-dark:#252525;
  --neutral-green:#2b322a;
  --text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.bg-accent {
  background:var(--accent-primary);
}

.bg-neutral-dark {
  background:var(--neutral-dark);
}
.bg-neutral-green {
  background:var(--neutral-green);
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
